<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ thống quản lý</title>
    <link href="~/Content/assets/styles/toastStyles.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body class="hold-transition sidebar-mini">

    <figure class="notification">
        <div class="notification__body">
            <div class="notification__description">
                <div class="icon__wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                         fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
                <span id="toastMessage"></span>
            </div>
        </div>
    </figure>
    <figure class="notification notification--error">
        <div class="notification__body">
            <div class="notification__description">
                <div class="icon__wrapper icon__wrapper--error">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6L6 18"></path>
                        <path d="M6 6l12 12"></path>
                    </svg>
                </div>
                <span id="toastMessageError"></span>
            </div>
        </div>
    </figure>
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content">
            @RenderBody()
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
